<div class="container-fluid">
	<div class="row">
		<div class="col-12 pt-3 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h2">Daemons</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<button type="button" class="btn btn-sm btn-outline-success" id="daemons-refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addDaemonModal"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
				</div>
			</div>
		</div>
		<div class="col-12 pt-3 px-4">
			<!--<div class="card-deck card-deck-daemons">
				<div class="card text-center">
					<div class="card-header">
						127.0.0.1:5353
						<span class="float-right text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
					</div>
					<div class="card-body">
						<div class="progress">
							<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">CPU : 50 %</div>
						</div>
						<div class="progress">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Memory : 75 %</div>
						</div>
						<p class="card-text">Service available : SteamCMD, SNMP</p>
					</div>
					<div class="card-footer text-muted">
						<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-dark"><i class="fa fa-info" aria-hidden="true"></i> More info</button>
							<button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
						</div>
					</div>
				</div>
				<div class="card text-center">
					<div class="card-header">
						192.168.255.1:5353
						<span class="float-right text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
				<div class="card text-center">
					<div class="card-header">
						10.0.0.1:5353
						<span class="float-right text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
				<div class="card text-center">
					<div class="card-header">
						172.16.0.254:5353
						<span class="float-right text-success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
				<div class="card text-center">
					<div class="card-header">
						40.1.0.24:5353
						<span class="float-right text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
					</div>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>-->
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Address</th>
						<th scope="col">Port</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="addDaemonModal" tabindex="-1" role="dialog" aria-labelledby="addDaemonModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add daemons</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="daemon-address" class="col-form-label">Address :</label>
							<input type="text" class="form-control" id="address">
						</div>
						<div class="form-group col-md-6">
							<label for="daemon-port" class="col-form-label">Port :</label>
							<input type="number" class="form-control" id="port" value="5353">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="daemon-add"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
SystemX.getInstance().setTitle("Daemons");

Hook.add("OnDaemonsList", "DaemonsList", function() {
	
});

$("#daemons-refresh").click(function() {
	SystemX.getInstance().getDaemons().list();
});

$("#daemon-add").click(function() {
	var form = $("#addDaemonModal form");
	var daemon_address = form.find("#address").val();
	var daemon_port = form.find("#port").val();

	SystemX.getInstance().getDaemons().add(daemon_address, daemon_port);

	$("#addDaemonModal").modal("toggle");
});

SystemX.getInstance().getDaemons().list();
</script>

<style type="text/css">
.card-deck-daemons .card {
	margin-bottom: 15px;
	min-width: 300px;
	max-width: 3000px;
}
.card-deck-daemons .card .progress {
	margin-bottom: 15px;
}
</style>
