<div class="container-fluid">
	<div class="row">
		<nav class="col-12 col-md-3 col-xl-2 bg-light bd-sidebar">ee</nav>
		<div class="col-12 col-md-9 col-xl-10 bd-content">
			<h1>Bootstrap grid examples</h1>
			<p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>

			<h3>Five grid tiers</h3>
			<p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at a minimum viewport size and automatically applies to the larger devices unless overridden.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
SystemX.getInstance().setTitle("Home");
</script>

<style type="text/css">
.bd-sidebar {
	position: sticky;
	top: 4rem;
	height: calc(100vh - 4rem);
}
</style>
