<form class="form-signin">
	<!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
	<h1 class="h3 mb-3 font-weight-normal text-center">SystemX</h1>

	<div id="alert"></div>

	<div class="alert alert-login alert-danger fade" role="alert">
		<span>Username or password is invalid</span>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>

	<label for="inputServer" class="sr-only">Server address</label>
	<div class="input-group input-group-server">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-server" aria-hidden="true"></i></span>
		</div>
		<input type="text" id="inputServerAddress" class="form-control" placeholder="Server address" required autofocus>
	</div>

	<label for="inputLogin" class="sr-only">Login</label>
	<div class="input-group input-group-login">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
		</div>
		<input type="text" id="inputLogin" class="form-control" placeholder="Login" required>
	</div>

	<label for="inputPassword" class="sr-only">Password</label>
	<div class="input-group input-group-password mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
		</div>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	</div>

	<div class="checkbox mb-3">
		<label>
			<input type="checkbox" id="inputRememberMe" value="remember-me"> Remember me
		</label>
	</div>
	<button class="btn btn btn-primary btn-block" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</button>
</form>
<style type="text/css">
	html, body {
		height: 100%;
	}

	body {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #f5f5f5;
	}

	.form-signin {
		width: 100%;
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	.form-signin .checkbox {
		font-weight: 400;
	}
	.form-signin .form-control {
		position: relative;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}
	.form-signin .form-control:focus {
		z-index: 2;
	}
	.form-signin .input-group-server .input-group-text, .form-signin .input-group-login .input-group-text, .form-signin .input-group-password .input-group-text {
		width: 40px;
	}
	.form-signin .input-group-server {
		margin-bottom: -1px;
	}
	.form-signin .input-group-server .input-group-text {
		border-bottom-left-radius: 0;
	}
	.form-signin .input-group-server input {
		border-bottom-right-radius: 0;
	}
	.form-signin .input-group-login {
		margin-bottom: -1px;
	}
	.form-signin .input-group-login .input-group-text, .form-signin .input-group-login input {
		border-radius: 0;
	}
	.form-signin .input-group-password .input-group-text {
		border-top-left-radius: 0;
	}
	.form-signin .input-group-password input {
		border-top-right-radius: 0;
	}
</style>
<script type="text/javascript">
	SystemX.getInstance().setTitle("Login");

	if(Cookies.get("SystemX_ServerAddress")) {
		$(".form-signin #inputServerAddress")
	}

	Hook.add("OnSignIn", "SignIn", function(authentified) {
		if(authentified)
			SystemX.getInstance().load("main");
		else
			$(".form-signin #alert").html("<div class=\"alert alert-danger fade show\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button><span>Username or password is invalid</span></div>");

			$(".form-signin button[type='submit']").removeAttr("disabled");
	});

	$(".form-signin").submit(function(event) {
		var serverAddress = $(".form-signin #inputServerAddress").val();

		Cookies.set("SystemX_ServerAddress", serverAddress);
		SystemX.getInstance().setServer(serverAddress);

		var login = $(".form-signin #inputLogin").val();
		var password = $(".form-signin #inputPassword").val();
		var rememberMe = $(".form-signin #inputRememberMe").is(":checked");

		SystemX.getInstance().getAuthentication().login(login, password, rememberMe);
		$(".form-signin button[type='submit']").attr("disabled", "");

		event.preventDefault();
	});
</script>
