<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="static/systemx/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
		SystemX
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" data-panel="home" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-panel="daemons" href="#"><i class="fa fa-microchip" aria-hidden="true"></i> Daemons</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gears" aria-hidden="true"></i> Services</a>
				<div class="dropdown-menu" aria-labelledby="servicesDropdown">
					<a class="dropdown-item" data-module="steamcmd" href="#"><i class="fa fa-steam" aria-hidden="true"></i> SteamCMD</a>
					<a class="dropdown-item" data-module="snmp" href="#">SNMP</a>
					<a class="dropdown-item" data-module="virtualization" href="#"><i class="fa fa-server" aria-hidden="true"></i> Virtualization</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<li class="nav-item" id="webadmin-status"></a>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> root</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" data-command="sign-out" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a>
				</div>
			</li>
		</ul>
	</div>
</nav>

<div class="container-body"></div>

<script type="text/javascript">
function loadPanel(panel) {
	$.get({
			url: "static/systemx/html/panel/" + panel + ".html",
			dataType: "text",
			type: "GET"
		})
		.done(function(data) {
			console.log("[SystemX][Main] Loaded panel " + panel);
			$(".container-body").html(data);
		})
		.fail(function() {
			console.error("[SystemX][Main] Failed to load panel " + panel);
		});
}

function setStatus(status) {
	switch(status) {
		case "connected":
			$("#webadmin-status").html("<span class=\"navbar-text text-success\" href=\"#\"><i class=\"fa fa-check-circle\" aria-hidden=\"true\"></i> Connected</span>");
			break;
		case "disconnected":
			$("#webadmin-status").html("<span class=\"navbar-text text-danger\" href=\"#\"><i class=\"fa fa-times-circle\" aria-hidden=\"true\"></i> Disconnected</span>");
			break;
		case "connecting":
			$("#webadmin-status").html("<span class=\"navbar-text text-warning\" href=\"#\"><i class=\"fa fa-spinner\" aria-hidden=\"true\"></i> Connecting...</span>");
	}
}

$(".nav-link").click(function() {
	if($(this).hasClass("dropdown-toggle"))
		return;

	$("nav.navbar .active").each(function(index) {
		$(this).removeClass("active");
	});

	$(this).parent().addClass("active");

	var panel = $(this).data("panel");
	if(panel)
		loadPanel(panel);
});
$(".dropdown-item").click(function() {
	var command = $(this).data("command");
	if(command) {
		switch(command) {
			case "sign-out":
				SystemX.getInstance().load("login");
				break;
		}
		return;
	}

	var module = $(this).data("module");
	if(module) {
		$("nav.navbar .active").each(function(index) {
			$(this).removeClass("active");
		});

		$(this).parent().parent().addClass("active");
		$(this).addClass("active");

		$.get({
			url: "modules/" + module + "/module.html",
			dataType: "text",
			type: "GET"
		})
		.done(function(data) {
			console.log("[SystemX][Main] Loaded " + module + " module");
			$(".container-body").html(data);
		})
		.fail(function() {
			console.error("[SystemX] Failed to load " + module + " module");
		});
	}
});

loadPanel("home");
SystemX.getInstance().onStatusChanged(function(status) {
	setStatus(status);
});
setStatus(SystemX.getInstance().getSocket().getStatus());
</script>
